/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any additional custom styles here */

:root {
  background: #f5f5f5;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

.ql-size-small {
  font-size: 0.75rem; /* Tailwind text-sm */
}

.ql-size-large {
  font-size: 1.25rem; /* Tailwind text-lg */
}

.ql-size-huge {
  font-size: 1.5rem; /* Tailwind text-xl or larger */
}
